body {
  margin: 0;
  font-family: 'Regular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Regular';
}

@font-face {
  font-family: 'Black';
  src: local('NotoSansKR'), url(./asset/NotoSansKR.otf) format('opentype'),
    url(./asset/Roboto.ttf) format('truetype');
  unicode-range: U+AC00-D7A3, U+0041-005A, U+0061-007A, U+0030-0039, U+0020-002F,
    U+003A-0040, U+005B-0060, U+007B-007E;
}

@font-face {
  font-family: 'Bold';
  src: local('NotoSansKR'), url(./asset/NotoSansKR.otf) format('opentype'),
    url(./asset/Roboto.ttf) format('truetype');
  unicode-range: U+AC00-D7A3, U+0041-005A, U+0061-007A, U+0030-0039, U+0020-002F,
    U+003A-0040, U+005B-0060, U+007B-007E;
}

@font-face {
  font-family: 'Medium';
  src: local('NotoSansKR'), url(./asset/NotoSansKR.otf) format('opentype'),
    url(./asset/Roboto.ttf) format('truetype');
  unicode-range: U+AC00-D7A3, U+0041-005A, U+0061-007A, U+0030-0039, U+0020-002F,
    U+003A-0040, U+005B-0060, U+007B-007E;
}

@font-face {
  font-family: 'Regular';
  src: local('NotoSansKR'), url(./asset/NotoSansKR.otf) format('opentype'),
    url(./asset/Roboto.ttf) format('truetype');
  unicode-range: U+AC00-D7A3, U+0041-005A, U+0061-007A, U+0030-0039, U+0020-002F,
    U+003A-0040, U+005B-0060, U+007B-007E;
}

@font-face {
  font-family: 'Light';
  src: local('NotoSansKR'), url(./asset/NotoSansKR.otf) format('opentype'),
    url(./asset/Roboto.ttf) format('truetype');
  unicode-range: U+AC00-D7A3, U+0041-005A, U+0061-007A, U+0030-0039, U+0020-002F,
    U+003A-0040, U+005B-0060, U+007B-007E;
}

@font-face {
  font-family: 'Thin';
  src: local('NotoSansKR'), url(./asset/NotoSansKR.otf) format('opentype'),
    url(./asset/Roboto.ttf) format('truetype');
  unicode-range: U+AC00-D7A3, U+0041-005A, U+0061-007A, U+0030-0039, U+0020-002F,
    U+003A-0040, U+005B-0060, U+007B-007E;
}

body,
body * {
  font-family: 'Regular';
}
